- $this->set('title_for_layout', $currentAccount['Account']['child_role_ja'] . '一覧');

//- 管理者か支配者ログインの場合のみボタンを表示
//- 管理者の場合は代理店追加ボタンは表示しない
- if($this->Soraps->isMasterLogin()):
  - if($this->Soraps->isAdminLogin() || $currentAccount['Account']['child_role'] != 'agent'):
    p
      :php
        | echo $this->Html->btn(
        |   $currentAccount['Account']['child_role_ja'] . '新規作成',
        |   [
        |     'controller' => 'accounts',
        |     'action' => 'add',
        |     'accountName' => $currentAccount['Account']['account_name']
        |   ],
        |   ['type' => 'primary', 'icon' => 'plus']
        | );
  - endif;
- endif;

table.table.table-bordered
  thead
    tr
      th ID
      th 名前
      - if($currentAccount['Account']['child_role'] == 'client'):
        th プラン
        th.text-right オーディ<br>エンス
        th.text-right キャン<br>ペーン
        th.text-right 参加
      - endif;
      th アクション
  tbody
    - foreach($accounts as $_account):
      - $account = $_account['Account'];
      tr(class="#{$account['deleted'] ? 'deleted' : ''}")
        td #{$account['id']}
        td
          :php
            | // 表示されているアカウントによってリンクの出し分け
            | echo $this->html->link(
            |   $account['screen_name'],
            |   [
            |     'controller' => $account['role'] != 'client' ? 'accounts' : 'dashboard',
            |     'action' => 'index',
            |     'accountName' => $account['account_name']
            |   ]
            | );
          br
          | (#{$account['account_name']})
        - if($currentAccount['Account']['child_role'] == 'client'):
          td
            - if($account['plan'] == 'stop'):
              span.label.label-default #{$account['plan_ja']}
            - else:
              span.label.label-primary #{$account['plan_ja']}
            - endif;
          td.text-right #{$account['facebook_audience_count'] + $account['twitter_audience_count']}
          td.text-right #{$account['campaign_count']}
          td.text-right #{$account['entry_count']}
        - endif;
        td.td-action
          :php
            | // 表示されているアカウントによってボタンの出し分け
            | if($account['role'] == 'client') {
            |   if($this->Soraps->isMasterLogin() || $account['plan'] != 'stop') {
            |     echo $this->Html->btn(
            |       'ダッシュボード',
            |       [
            |         'controller' => 'dashboard',
            |         'action' => 'index',
            |         'accountName' => $account['account_name']
            |       ],
            |       ['type' => 'primary', 'size' => 'sm', 'icon' => 'dashboard']
            |     );
            |   }
            | } else {
            |   echo $this->Html->btn(
            |     $account['child_role_ja'] . '一覧',
            |     [
            |       'controller' => 'accounts',
            |       'action' => 'index',
            |       'accountName' => $account['account_name']
            |     ],
            |     ['type' => 'success', 'size' => 'sm', 'icon' => 'list-ul']
            |   );
            | }
            | // 管理者か支配者ログインの場合のみボタンを表示
            | // 管理者の場合は代理店編集ボタンは表示しない
            | if($this->Soraps->isMasterLogin()) {
            |   if($this->Soraps->isAdminLogin() || $account['role'] != 'agent') {
            |     echo $this->Html->btn(
            |       '編集',
            |       [
            |         'controller' => 'accounts',
            |         'action' => 'edit',
            |         'accountName' => $account['account_name']
            |       ],
            |       ['type' => 'warning', 'size' => 'sm', 'icon' => 'pencil']
            |     );
            |     echo $this->Form->postBtn(
            |       '削除',
            |       [
            |         'controller' => 'accounts',
            |         'action' => 'delete',
            |         'accountName' => $account['account_name'],
            |       ],
            |       ['type' => 'danger', 'size' => 'sm', 'icon' => 'trash-o'],
            |       ['confirm' => '削除しますか？']
            |     );
            |   }
            | }
            | if($account['role'] == 'client') {
            |   if($this->Soraps->isMasterLogin()) {
            |     echo '<br>';
            |   }
            |   if($this->Soraps->isMasterLogin() || $account['plan'] != 'stop') {
            |     echo $this->Html->btn(
            |       'オーディエンス一覧',
            |       [
            |         'controller' => 'audiences',
            |         'action' => 'index',
            |         'accountName' => $account['account_name']
            |       ],
            |       ['type' => 'success', 'size' => 'sm', 'icon' => 'users']
            |     );
            |     echo $this->Html->btn(
            |       'キャンペーン一覧',
            |       [
            |         'controller' => 'campaigns',
            |         'action' => 'index',
            |         'accountName' => $account['account_name']
            |       ],
            |       ['type' => 'success', 'size' => 'sm', 'icon' => 'gift']
            |     );
            |   }
            | }

!{$this->Paginator->pagination()}
