- $this->set('title_for_layout', '利用規約');

.section-content.section.section-bg
  .container
    .page-header
      h2 #{Configure::read('service.name')}利用規約
    .panel
      .panel-body.panel-body-bg
        h3 第1条（定義）
        p 「#{Configure::read('service.name')}」とは、#{Configure::read('service.companyName')}（以下「当社」という）の運営する、#{Configure::read('service.name')}を通じて、キャンペーン等の出展者(以下「出展者」という)のキャンペーン等の情報を#{Configure::read('service.name')}応募者（以下「応募者」という）に提供するサービスをいいます。

        h3 第2条（本規約）
        p 本規約は、#{Configure::read('service.name')}を運営する当社と応募者との関係について適用されます。

        h3 第3条（懸賞応募と承諾）
        ol
          li 応募者は当社指定の申込フォームに必要事項を入力し、応募ボタンをクリックすることで正式な応募と見なされます。
          li 当社および出展者は、審査の結果、応募を承認しないことがあります。この場合、応募者は、不承認に対し理由の開示の請求、異議を申立てることはできず、また不承認に関し、当社および出展者は何らの説明責任を負わないものとします。
          li #{Configure::read('service.name')}の利用にあたり当社が知得した応募者の情報（登録情報等の個人情報や応募者が#{Configure::read('service.name')}に提示、提供、制作、編集した著作物等のコンテンツ等）については、応募者は、当社および出展者が、#{Configure::read('service.name')}の継続的な運用、キャンペーンの運用やキャンペーン等の告知を行う際に利用する場合があることを承諾するものとします。
          li 応募者は、当社または出展者から送信される広告を含む情報をメールで受信することを承諾するものとします。

        h3 第4条（ID及びパスワードの管理）
        ol
          li 応募者は応募者IDおよびパスワードの機密を保持するものとします。
          li 応募者は、自己の設定したパスワード等個人認証情報を失念した場合は直ちに当社に申し出るものとし、当社の指示に従うものとします。この場合、当社は、応募者ID、パスワードの再発行を認めるか否かについて、審査を行います。
          li 応募者は、当社はパスワード、IDの再発行に応じる義務がないこと、再発行には時間がかかる場合があることについて同意するものとします。
          li 応募者は、自己の個人認証情報および個人認証を条件とするサービスを利用する権利を、他者に使用させず、他者と共有しもしくは他者に許諾してはならないものとします。
          li 応募者の個人認証がなされたサービスの利用やそれに伴う一切の行為は、本条に反してなされた他者によるサービスの利用やそれに伴う一切の行為も含め、当該利用や行為が応募者自身の行為であるか否かを問わず、応募者による利用および行為とみなされるものとし、応募者はその一切の責任を負うものとします。
          li 応募者は、自己のＩＤ、パスワードを含む個人認証情報の管理について一切の責任をもつものとします。
          li 当社は、ID、パスワードを即時に発行しないこと、IDパスワードを発行しないこと、今後のサービス利用の継続を認めないこと、および応募者の個人認証情報が他者に使用されたことによって発生する損害について、当該応募者の故意過失の有無にかかわらず一切責任を負わないものとします。

        h3 第5条（著作権等）
        ol
          li 応募者は、応募者が提示、提供、制作、編集した著作物等のコンテンツについて、当社または出展者、他の応募者、その他の第三者の知的財産権等および法律を侵すものではないこと保証するものとします。
          li 応募者は、当社または出展者が不適切と判断した場合、当該コンテンツを削除する場合があることを了承するものとします。この場合、応募者は、削除理由の説明の要求、異議を申立てることはできず、またこれに関し、当社および出展者は何ら責任を負わないものとします。

        h3 第6条（サービス内容の変更）
        p 当社は、本規約に基づき、応募者にサービスを提供します。当社は、応募者への通知、承諾なく、提供サ－ビスの内容を変更、改廃することができるものとします。

        h3 第7条（サービスの中断・停止・廃止）
        p 当社は、以下の各号に該当する場合は、事前に通知することなく、承諾なしに、必要な期間#{Configure::read('service.name')}を中断もしくは停止し、または廃止することができるものとします。なお、これにより損害が発生した場合でも、当社は何らの責任も負わないものとします。
        ol
          li システムの保守・メンテナンス、工事等を行う場合。
          li 天災地変、火災、戦争、暴動、騒動、労働協議等もしくはこれに準ずる事態の発生した場合。
          li 当社ないし#{Configure::read('service.name')}を構成する関連機関のシステムのトラブル等による場合。
          li 当社ないし#{Configure::read('service.name')}を構成する関連機関が利用する電力の提供が中断された場合。
          li #{Configure::read('service.name')}を構成するインターネットサーバーが接続する上流ネットワークのルーティングトラブル等、インターネット回線に障害が起きた場合。
          li その他、当社が運用上ないし技術上必要あるいはやむを得ないと判断した場合。

        h3 第8条（免責）
        ol
          li 当社は、懸賞のその正確性、有用性、最新性、適切性、第三者の権利を侵害していないこと等について何ら保証をするものではありません。
          li 応募者、出展者間で、#{Configure::read('service.name')}の利用に関して、万一トラブルが生じた際には、応募者と出展者との間ですみやかに直接解決するものとし、当社は何らの責任も負わないものとします。
          li 応募者が#{Configure::read('service.name')}に掲載した情報について、当社が不適切と判断した場合には、当社は、当該応募者に対して事前の通知、承諾及び理由を開示することなく、当社の裁量にて、当該情報の削除を行うことがあります。応募者は、不承認に対し理由の開示の請求、異議を申し立てることはできず、またこれに関し当社は何らの責任も負わないものとします。なお、本項の規定は、当社が#{Configure::read('service.name')}が掲載する情報の監視及び検査を保証するものではありません。
          li
            p 応募者は、下記に起因、もしくは関連して第三者からクレーム、損害賠償請求等を受けた場合には、自らの責任と負担において解決するものとし、当社は解決に協力する義務を負わないものとします。
            ul
              li #{Configure::read('service.name')}の利用
              li #{Configure::read('service.name')}を利用した応募、伝達、発言やコンテンツ
              li #{Configure::read('service.name')}への接続
              li 利用規約の違反
              li 他人または他社の権利の侵害
            p また、当社が、第三者からクレーム、損害賠償請求等を受けた場合、その解決に関して必要な範囲で応募者に協力を求めることがあり、応募者はこれを拒否しないものとします。
          li 当社は、応募者に対し、システムや通信回線や等の障害によるサービスの中断、停止、廃止、不具合等及びそれらに起因または関連して生じた損害について、何らの責任も負わないものとします。
          li 当社は、#{Configure::read('service.name')}のサイト、サーバー、ドメイン等から送信されるメール、コンテンツ等にコンピュータ・ウィルス等が含まれていないことを保証しないものとし、応募者に生じた損害やトラブルに対して一切の補償及び関与をしないものとします。
          li 当社は、応募者が#{Configure::read('service.name')}の利用により、外部サイト又は他事業者より何らかの処分を受けた場合等の損害について、何らの責任も負わないものとします。
          li 未成年者が応募する場合、親権者は#{Configure::read('service.name')}に掲載された情報について、未成年者にとって適切かどうか判断する責を負うものとします。
          li 当社は、#{Configure::read('service.name')}に掲載された情報に関してのお問い合わせ対応は行いません。別途、出展者の定めるお問い合わせ窓口での対応となります。また、応募者が使用しているコンピュータ、通信機器、通信ソフト等のサポートは一切行いません。応募者と各種プロバイダーとの接続に関する苦情等についても、一切これを受け付けないものとします。

        h3 第9条（禁止事項）
        p 当社は、#{Configure::read('service.name')}の利用に際し、次の各号に該当する行為を禁止します。
        ol
          li 当社、他の応募者、第三者の著作権、肖像権、その他知的財産権を侵害する虞のある行為。
          li 当社、他の応募者、第三者の財産、信用、プライバシー等を侵害する虞のある行為。
          li 当社、他の応募者、第三者の何らかの権利を侵害する虞のある行為。
          li 他の応募者、第三者との間で契約、規約等により禁止されている行為。
          li 真偽を問わず、当社、他の応募者、第三者を誹謗中傷する虞のある行為。特定の個人や法人の営業行為に重大な損害を与える表現、事実無根の一方的な主張等を含む書き込み行為は禁止行為に該当するとみなされます。
          li 当社、他の応募者、第三者の個人情報（メールアドレス、住所、電話番号、信用情報その他の個人に関する情報をいう。）を、当社および当該個人の事前の承諾なく、他の応募者や第三者に送付、送信、伝達、開示、提供、漏洩、複写、複製、改変等する行為。
          li 当社、他の応募者、第三者の著作物を、権利者の事前の承諾なく、他の応募者や第三者に送付、開示、複写、書き込みしたりする行為。
          li ウィルス、ハッキングなど、当社の円滑な運営を阻害する虞のある行為。
          li おどし、わいせつ、名誉毀損、差別的な行為。
          li 政治活動・宗教活動、またはそれらにつながる行為。
          li 他人の氏名やアドレス、ID、パスワード等を借用して他人になりすまし、#{Configure::read('service.name')}を利用し、もしくはコンピュータ、システム等に侵入する行為。
          li 公序良俗に反する行為、犯罪行為、不法行為及びこれらに該当する虞のある行為。
          li 法令、規則等に違反する行為及びこれらに該当する虞のある行為。
          li 猥褻な映像・音声・文字等の情報を提供、または表示し、もしくはそれを試みる行為。
          li 営業活動その他の営利を目的とした行為またはそれに準ずる行為やそのための準備行為。
          li その他#{Configure::read('service.name')}の目的に反する行為。

        h3 第10条（禁止行為への措置）
        p 当社は、前条各号に違反すると判断する場合、応募者への通知、応募者の承諾なしに下記に掲げる措置の全部もしくは一部を取ることができます。この場合、応募者は、措置の理由の開示の請求、異議を申し立てることはできず、またこれに関し、当社は何らの責任も負わないものとします。
        ol
          li 一時的なサービスの利用停止。 なお、利用停止期間についても、当社が自己の自由な判断により決することができるものとします。
          li 応募者登録の抹消（完全退会）。
          li 書込み記事及びコンテンツの削除。
          li メールでの注意・勧告。
          li 措置を講じたことをアナウンスすること。
          li その他当社が必要と認める措置。

        h3 第11条（損害賠償）
        p
          | 応募者は、#{Configure::read('service.name')}の利用に際し、当社、他の応募者、出展者、その他の第三者に対し損害を与えた場合、これを賠償する責任を負うものとします。
          br
          | 応募者が当社に対し損害賠償請求権等の何らかの請求権を有する場合、応募者は、その権利につき、その発生原因が生じた日から１年以内に権利行使をしなければ、当該権利は失効するものとします。

        h3 第12条（準拠法）
        p 本規約の準拠法は日本国法とします。

        h3 第13条（裁判管轄）
        p #{Configure::read('service.name')}に関する一切の紛争について、東京地方裁判所をもって、第一審の専属的合意管轄裁判所とします。

        h3 第14条（規約及び条件等の改訂）
        p 本規約及び条件は、当社の判断により応募者の承諾なく随時変更・改訂を行うことができるものとし、応募者はこれを承諾するものとします。

        p.text-right 2019年10月1日
