!!! 5
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title #{$this->Soraps->title()}
    meta(name="description", content="#{$this->Soraps->description()}")
    meta(name="viewport", content="width=device-width")
    - if(env('SERVER_NAME') !== 'apps.soraps.jp'):
      meta(name="robots", content="noindex, nofollow")
    - endif;
    !{$this->element('campaigns/ogp')}
    - $this->startIfEmpty('css');
      !{$this->Html->css('bootstrap-campaigns')}
      !{$this->Html->css('//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css')}
      !{$this->Html->css('campaigns')}
      <!--[if lte IE 9]>
      !{$this->Html->css('campaigns-ie9')}
      <![endif]-->
      <!--[if lte IE 8]>
      !{$this->Html->css('campaigns-ie8')}
      <![endif]-->
    - $this->end();
    !{$this->fetch('css')}
    - if(!Configure::read('debug') && !Configure::read('maintenance')):
      | !{$this->element('tracking_code/google_analytics')}
    - endif;
    link(rel="shortcut icon", href="#{$this->Html->url(Configure::read('service.favicon'))}")
    link(rel="apple-touch-icon-precomposed", href="#{$this->Html->url(Configure::read('service.touchIcon'))}")
  body#top
    #fb-root
    !{$this->fetch('content')}
    !{$this->Html->script('//code.jquery.com/jquery-1.8.3.min.js')}
    !{$this->Html->script('/vendor/bootstrap/bootstrap')}
    :javascript
      | var facebookAppId = '#{Configure::read('facebook.appId')}';
    !{$this->Html->script('facebook')}
    !{$this->Html->script('twitter')}
    !{$this->Html->script('common')}
    !{$this->Html->script('campaigns')}
    | <!--[if lt IE 9]>
    !{$this->Html->script('/vendor/respond/respond.min')}
    | <![endif]-->
    !{$this->fetch('script')}
